@import "~bootstrap/dist/css/bootstrap.min.css";
.h-100vh {
  height: 100vh;
}
body {
  background-color: rgb(9, 60, 245);
}
#result {
  color: white;
}

:root {
  --tooltip-color: rgb(252, 142, 7);
}

.custom-tooltip.tooltip > .tooltip-inner {
  background-color: var(--tooltip-color);
}

.tooltip.bs-tooltip-right .tooltip-arrow::before {
  border-right-color: var(--tooltip-color) !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
  border-left-color: var(--tooltip-color) !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--tooltip-color) !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--tooltip-color) !important;
}
